<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTTP Cats</title>
</head>
<body>
<h1>HTTP Response Status #{{code}}</h1>
<section>
    <img src="https://http.cat/{{code}}">
</section>
</body>
</html>
